.NavBarContainer{
    display: flex;
    flex-direction: column;
    background-color: gray;
    /* border-right: 2px solid black; */
    height: 90vh;
    width: 150px;
    /* border-top: 2px solid black; */
    box-sizing: border-box;
}

.Users{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
}

.User{
    font-family: 'Merriweather', serif;
    list-style: none;
    box-sizing: border-box;
    padding: 5px 0px;
    margin: none;
}