*{
     font-family: helvetica;
}
.FormInfoDisplayContainer{
    /* border: 2px solid yellow; */
    height: 70vh;
    margin: auto;
    box-sizing: border-box;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    overFlow: scroll;

}

.TextConvo{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.MyText{
    list-style-type: none;   
    color: white;
    margin-left: 45%;
  background: rgb(0, 120, 254);
    background-attachment: fixed;
    position: relative; 
    border-radius: 20px;
    padding: 8px 15px;   
}

.MyUser{
    text-align: center;
    list-style-type: none;   
    color: black;
    margin-left: 45%;
    background-attachment: fixed;
    position: relative; 
    border-radius: 20px;
     background: #EEE;
}

.TheirText{
    margin-right: 45%;
    border-radius: 20px;
    padding: 8px 15px;    
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    align-items: flex-start;
    background: #EEE;
}

.MyLabel{
    margin-left: 45%;
    background-attachment: fixed;
    position: relative; 
    border-radius: 20px;
    padding: 8px 15px;  
}
.TheirLabel{
     margin-right: 45%;
    padding: 8px 15px;    
    display: inline-block;
    align-items: flex-start;
color:black;
}
h2 {
      font-family: 'Merriweather', serif;
      font-weight: 500;
      text-align: left;
}

