.NavBarContainer{
    height: 80px;
     background-color:#f5f7fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.NavItemsLeft{
    margin: 0 20px;
    color: black;
}

.NavItemsRight{
    margin: 0 20px;
}